@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1575515726481'); /* IE9 */
  src: url('iconfont.eot?t=1575515726481#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKQAAsAAAAABkgAAAJFAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApUZgE2AiQDCAsGAAQgBYRtBy4bigXILrBt2JMitY1wbAw2zr4AARji4fu137m775siSUSjaFaJDIlUSBAbpTPdS+D/5vQ6AleQ+c+XWI1IoU3S9l/Cl3f5Y3YsPCs1IdlPrgcAmf/Vg25urjj4PJfTm0AH0vpAOe5FawzqReG9OKBA98AoshLKuGHsApfwmEDVkKTI4cTcIuuRWKsC8WwZOuvJBSWJZcpCseZgEm8KytlLFuY1/H78yUcPmULOqjl5Gm+xoU92Dv7rwSeECOh4ATkWMIm4qE0eaReMa1dNdhjD9lUZfHrfIfZqFeyvs8rrYADK7knuKm41k8FtjevrJx91KdG3Fbvbj7ZuL+P8/iCReLiKoeFdUfh9cbBYKRcGR8vlscHDR7dFUUAZG7CLfic/blthEQRPtw/Xqs3/ci2Bjx6OQkvSz82Ud+MKfoe851DSlZY9S6q8lp/pO01HVRX/sLfrc6yp79z8UB7hLhlMkSubIBO7gIKaDRSV7aBq3uTxmh5Su0gVzDkBCG1vyDS9I9f2Tib2AwX9/lDUjnZUXUXPhTVTYfUdSNQJW9DYAKspfO44qS+qnEdjxdVlVhkKllGGVgRy6WwxM4k+yjm2hKtGnogDl8KDCfAcuq6AQAobm5Q2iYJ6JsPr3pRuCo/1OSAhHUEtoGEDsDQJPu5PJn2lz89DhhUunWwZqEkvQ1LImh3kpGV7kJM6v9fAvbwSWmXII4QDnCR4wASYh1wuAQT182yoiaSZI+KBuow9ivfVpdc3eF93CqoscxZ2Yy49ijWfMQA=') format('woff2'),
  url('iconfont.woff?t=1575515726481') format('woff'),
  url('iconfont.ttf?t=1575515726481') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1575515726481#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down:before {
  content: "\e69b";
}

